@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROJETO KEENER</h1>
    <p>Agradeço desde já a oportunidade de poder ter participado desse processo seletivo!</p>
    <img src="~/imagens/obrigado.jpg" alt="Imagem de agracimento pelo participação" style=" width: 500px; height: 281px" />
</div>
